<div class="card">
  <form class="form" role="form" class="mb-4" autocomplete="off">
    <div class="card-body">
      <div id="table" class="table-editable">
        <div class="table-responsive">
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <!-- head -->
            <thead>
              <tr>
                <th>
                  User
                </th>
                <th *ngFor="let domaine of competence.DomaineList" class="text-center"
                  [hidden]="!competence.DomaineList.length">

                  {{domaine.nomDomaine}}

              <tr class="text-center">
                <th *ngFor="let label of competence.LabeList" [hidden]="domaine.domaineId!=label.domaineId ">
              <tr>
                <td> <span class="text-center">
                    {{label.nomLabel}} </span> </td>
              </tr>
              </th>
              </tr>
              </th>
              </tr>
            </thead>
            <!-- end head -->

            <!-- body -->
            <tbody>
              <tr *ngFor="let item of competence.usersTrue ">
                <th scope="row"> {{item.userName}} {{item.fullName}}
                </th>
                <td *ngFor="let domaine of competence.DomaineList" class="text-center">
              <tr>
                <th>
              <tr class="text-center">
                <th *ngFor="let label of competence.LabeList" [hidden]="domaine.domaineId!=label.domaineId ">
                  <div class="form-control" style="width: 60px;">
                  </div>
                </th>
              </tr>
              </tr>
              </td>
            </tbody>
            <!-- End body -->
          </table>
        </div>
      </div>
    </div>
  </form>
</div>